@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.box {
  text-align: center;
  font-size: 80px;
  line-height: 80px;
  width: 80px;
  height: 80px;
  border: 1px solid black;
}

.win {
  background-color: #8ace7e;
}

.lose {
  background-color: #ff684c;
}

.row {
  display: flex;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}